// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 16px;
$body-font-family: "Raleway", "Roboto", sans-serif;
$heading-font-family: "SF Pro Display", $body-font-family;
